#map {
    height: 800px;
    width: 100%;
}

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}

.modal {
    z-index: 20;
}

.modal-backdrop {
    z-index: 10;
}

.textarea{
    width:90%;
    max-width:90%;
    max-height:30%;
}

.results { list-style: none; width: 250px; float: left;  }
.results li { padding: 40px;  float: left; position: relative; z-index: 20; border: 1px solid black;}
.results li:hover h3, .results li.hover h3 { color: red; text-shadow: 0 1px 0px rgba(255,255,255,0.3); }

