<html>

<head>

</head>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css?v=2">

<script src="js/jquery-3.1.1.min.js"></script>
<script>
    $.ajaxSetup({
        // Disable caching of AJAX responses
        cache: false
    });
</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/map.js?v=14"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9snYTGDnHIu8OawD8vkumP-vTJ4pJMsw&signed_in=true&libraries=places&callback=initialize"
        async defer></script>


<script src="js/angular.min.js"></script>
<script src="js/angular_app.js?v=12"></script>


<body ng-app="markers_event">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                EventFullTime
            </a>


        </div>


        <ul class="nav navbar-nav navbar-right">
            <li>
                <button class="btn btn-success navbar-btn" href="#" data-toggle="modal" data-target="#myModal">Add
                    Event
                </button>
            </li>
            <li><a href="#">Action</a></li>

        </ul>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-9">
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Creer un événement</h4>
                        </div>


                        <div class="modal-body">
                            <form id="details" name="details" method="post" class="form-horizontal"
                                  ng-app="markers_event" ng-submit="save(details)" ng-controller="map"
                                  style="margin-bottom: 0;">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Choisir une ville</label>
                                    <div class="col-sm-7" id="locationField">
                                        <input id="autocomplete" class="form-control" placeholder="Enter your address"
                                               onFocus="geolocate()" type="text" ng-model="details.location" required
                                               name="event_name" id="adresse"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label"> Name :</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="event_name" required
                                               id="event_name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label"> Type :</label>
                                    <div class="col-sm-7">


                                        <input list="activity" name="event_type" id="event_type" required>
                                        <datalist id="activity">
                                            <option value="Restaurant">
                                            <option value="Bar">
                                            <option value="Soirée">
                                            <option value="Boite de nuit">

                                        </datalist>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label"> Description :</label>
                                    <div class="col-sm-7">
                                        <textarea rows="5" cols="42" name="event_details" style="resize: vertical;"
                                                  required>

                                        </textarea>


                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-4 control-label"> date :</label>
                                    <div class="col-sm-7">
                                        <input type="date" class="form-control" name="event_date" required
                                               id="event_date">


                                    </div>
                                </div>


                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Valider</button>
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                </div>

                            </form>

                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>


    <div class="row">
        <div class="col-xs-9">
            <div id="map" ng-controller="map">
                <input type="hidden" name="city" ng-value="city">
                <input type="hidden" name="country" ng-value="country">
            </div>
        </div>
        <div class="col-xs-3 " ng-model="markers" ng-controller="map">
            <label class="control-label">Search event(s)</label>
            <input type="search" class="form-control" ng-model="search"
                   placeholder="address, restarant, date, descr ...">
            <h2>Event available : </h2>

            <div class="list-group ">

                <a ng-repeat="l in list | filter:search" class="list-group-item "
                   data-geo-lat="{{l.country.city.marker.lat}}"
                   data-geo-long="{{l.country.city.marker.lng}}" ng-click="move(l)">

                    <h4 class="list-group-item-heading">{{l.country.city.marker.name}}
                        <small><br>{{l.country.city.name+" "+l.country.name +" "+l.country.city.marker.street}}</small>

                    </h4>
                    <p>
                        <b>type :</b>
                        {{l.country.city.marker.type}}
                    </p>


                    <p class="list-group-item-text" ng-click="$event.stopPropagation()">
                        Average notation : {{l.country.city.marker.notation/l.country.city.marker.countNotation}}
                        <button class="btn btn-primary btn-xs" href="#" ng-click="addNotation(l)">Rate this</button>
                    <div ng-show="l.country.city.marker.notationEdit">
                        <form method="post" class=" form-inline" id="notation" name="notation"
                              ng-submit="saveNotation()" ng-click="$event.stopPropagation()">

                            <div class="form-group">
                                <input type="number" value="0" class="form-control col-sm-9" name="postNotation"
                                       id="postNotation"
                                       min="0" step="1" max="5"
                                       required/>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success" type="submit" ng-click="addNotationHide(l)">add</button>
                            </div>


                            <input type="hidden" class="form-control" name="event" id="event" value={{l}}">


                        </form>
                    </div>


                    <p>
                        <b>Description :</b> {{l.country.city.marker.description}}
                    </p>

                    <div ng-click="$event.stopPropagation()">
                        <button class="btn btn-primary btn-xs" href="#" ng-click="addComment(l)">Comment this</button>
                    </div>



                    <div ng-show="l.country.city.marker.commentEdit" ng-click="$event.stopPropagation()">
                        <form method="post" class=" form-inline" id="comments" name="comments"
                              ng-submit="saveComment()">

                            <div class="form-group">
                                <input type="text" class="form-control col-sm-9" name="postComment" id="postComment"
                                       required/>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success" type="submit" ng-click="addCommentHide(l)">add</button>
                            </div>


                            <input type="hidden" class="form-control" name="event_comment" id="event_comment"
                                   value={{l}}">


                        </form>

                    </div>
                    <ul ng-repeat="t in l.country.city.marker.comments">
                        <li> {{t}}</li>
                    </ul>
                </a>
            </div>
        </div>


    </div>
</div>


</body>


</html>
